<section class="section section-padding-s border-top">
  <div class="section-inner">
    <div class="container">

      <div class="section-header">
        <h2 class="section-title">
          <span class="small-caps">Subscribe</span>
          <span>Join our mailing list</span>
        </h2>
      </div>
      
      <form class="subscribe" action="https://rmep.us12.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="7c9a12169007005536066d301">
        <input type="hidden" name="id" value="7669bfe91a">
        <div class="field">
          <label for="MERGE1">First Name</label>
          <input type="text" name="MERGE1" id="MERGE1" size="25" placeholder="First Name">
        </div>
        <div class="field">
          <label for="MERGE2">Last Name</label>
          <input type="text" name="MERGE2" id="MERGE2" size="25" placeholder="Last Name">
        </div>
        <div class="field">
          <label for="MERGE0">Email Address <span class="color-error">*</span></label>
          <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" placeholder="Email Address">
        </div>
        <div class="field">
          <button type="submit" class="button button-block button-primary">Subscribe</button>
        </div>
        <input type="hidden" name="ht" value="31c4598a43f6afe2a63b8c52e2c8b1ff83aaf58b:MTQ5MjA2MzA0OC42Mzg0">
        <input type="hidden" name="mc_signupsource" value="hosted">
      </form>

    </div>
  </div>
</section>