.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    flex: auto;
    display: flex;
    align-items: center;
    margin: 1em 0;
    padding: 0;
    font-weight: var(--font-weight-medium);

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .symbol {
    flex: none;
  }

  & svg {
    flex: none;
    display: inline-block;
  }

  & span {
    flex: auto;
    margin-left: 0.75em;
  }
}

.icon-list-flex {
  display: flex;
  flex-wrap: wrap;

  & li {
    width: 50%;
    margin: 0;

    &:nth-last-child(2),
    &:last-child {
      padding-bottom: 0;
    }
  }
}