.title {
  margin: 0;
  line-height: 1;

  & em {
    font-style: normal;
  }
}

.title-xs {
  font-size: 1.25rem;

  @media (--l-up) {
    font-size: 1.5rem;
  }
}

.title-s {
  font-size: 1.5rem;

  @media (--l-up) {
    font-size: 1.75rem;
  }
}

.title-m {
  font-size: 1.75rem;

  @media (--l-up) {
    font-size: 2.0rem;
  }
}

.title-l {
  font-size: 2.0rem;

  @media (--l-up) {
    font-size: 2.5rem;
  }
}

.title-xl {
  font-size: 3rem;

  @media (--s-up) {
    font-size: 4rem;
  }

  @media (--l-up) {
    font-size: 5rem;
  }
}