.nav {

  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    flex: none;
    margin: 0;
    padding: 0;
    color: currentColor;
    font-weight: var(--font-weight-medium);
  }

  & a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1.5em;
    height: var(--header-height);
    color: currentColor;
    text-decoration: none;
    
    @media (--s-up) {
      height: var(--header-height-s-up);
    }

    &.active {
      color: var(--white);
      background: var(--primary);
    }
  }
}