.nav {

  @media (--xs) {
     width: 100%;
  }
  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    flex: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-monospace);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-s);
    color: currentColor;
  }

  & a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    height: var(--header-height);
    color: currentColor;
    text-align: center;
    text-decoration: none;
    
    @media (--s-up) {
      padding: 1em 1.5em;
      height: var(--header-height-s-up);
    }

    &:hover,
    &:focus {
      color: var(--primary);
    }

    &.active {
      color: var(--white);
      background: var(--primary);
    }
  }
}