.social {
    color: currentColor;

  & ul {
    display: flex;
    align-items: center;
    margin: -0.5em;
    padding: 0;
    list-style: none;
    color: currentColor;
  }

  & li {
    flex: none;
    display: block;
    margin: 0;
    padding: 0;
    color: currentColor;
  }

  & a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:focus {
      color: var(--link-hover-color);
    }
  }

  & svg {
    display: block;
  }
}