.social {
  display: flex;
  align-items: center;

  & a {
    flex: none;
    display: block;
    padding: 0.25em;
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }

  & svg {
    display: block;
  }
}