{% for item in site.data.footer %}
{% capture fullurl %}{{ site.baseurl }}{{ item.url }}{% endcapture %}
  {% if fullurl == page.url %}
    {% assign current_page = fullurl %}
    {% break %}
  {% elsif page.url contains fullurl %}
    {% assign current_page = fullurl %}
  {% endif %}
{% endfor %}

<nav class="footer-nav">
  <ul>
  {% for item in site.data.footer %}
    {% if item.url == current_page %}
      {% assign active = ' class="active"' %}
    {% else %}
      {% assign active = null %}
    {% endif %}
    {% assign sublinks = item.sublinks %}
    {% if sublinks %}
    <li>
      <a {{ active }} href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      <ul>
        {% for sublink in sublinks %}
        <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li>
      <a {{ active }} href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>