.height-25 {
  min-height: 25vh;
}

.height-33 {
  min-height: 33vh;
}

.height-50 {
  min-height: 50vh;
}

.height-66 {
  min-height: 66vh;
}

.height-75 {
  min-height: 75vh;
}

.height-100 {
  min-height: 100vh;
}

.height-full {
  height: 100%;
}
