.max-width-10rem {
  max-width: 10rem;
}

.max-width-15rem {
  max-width: 15rem;
}

.max-width-20rem {
  max-width: 20rem;
}

.max-width-25rem {
  max-width: 25rem;
}

.max-width-30rem {
  max-width: 30rem;
}

.max-width-35rem {
  max-width: 35rem;
}

.max-width-40rem {
  max-width: 40rem;
}
