.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-body {
  
}

.footer-nav {
  margin: -var(--gutter);

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: currentColor;
  }

  & li {
    display: block;
    margin: 0;
    padding: 0;
    color: currentColor;
    line-height: var(--line-height-s);
  }

  & a {
    display: block;
    padding: 0.25em 0;
    color: currentColor;
    text-decoration: none;

    & span {
      display: inline-block;
      border-bottom: 0.125rem var(--border-style) transparent;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
      
      & span {
        border-color: var(--primary);
      }
    }
  }

  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 40rem;
    
    & > li {
      padding: var(--gutter);
      flex: 0 0 50%;
      
      @media (--s-up) {
        flex: 1 1 0;
      }
    }
  }
}

.footer-bottom {

}