:root {
  --header-height: 3rem;
  --header-height-m-up: 4rem;
}

.header {
  z-index: var(--z-index-medium);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);

  @media (--m-up) {
    height: var(--header-height-m-up);
  }
}