:root {
  --header-height: 3rem;
  --header-height-s-up: 4rem;
}

.header {
  z-index: var(--z-index-medium);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);

  @media (--s-up) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--gutter);
    height: var(--header-height-s-up);
  }
}