.logo {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--primary);
  }

  & svg {
    flex: none;
    display: block;
    width: 2rem;
    height: 2rem;
  }

  & span {
    flex: none;
    margin-left: 0.5em;
  }
}