.hero {
  padding-bottom: 20rem;
  justify-content: flex-start;
  background-repeat: repeat-x;
  background-image: url('/sible.org/assets/images/hero.svg');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 120rem 40rem;

  @media (--s-down) {
    padding-bottom: 10rem;
    background-size: 60rem 20rem;
  }
}