.symbol {
  border-radius: 50%;

  & svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
  }
}

.symbol-s {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.symbol-m {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.symbol-l {
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
}
