.symbol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  & svg {
    display: block;
    fill: currentColor;
  }
}