.symbol {
  width: 3rem;
  height: 3rem;
}

.symbol-s {

  @media (--s-up) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.symbol-l {

  @media (--s-up) {
    width: 6rem;
    height: 6rem;
  }

  @media (--l-up) {
    width: 8rem;
    height: 8rem;
  }
}