---
layout: page
order: 40
title: About
heading: People-first platform
lead: Sible enables the whole community to share accessibility data. 
description: It’s a platform that makes moving from A to B possible, makes obstacles visible and encourages local businesses to be responsible.
permalink: /about/
---

<section class="section">
  <div class="section-inner padding-vertical-xl">
    <div class="container">

      <div class="max-width-30rem margin-bottom-l">
        <h2 class="title title-m">Making life<br>easier for everybody.</h2>
        <hr class="divider background-primary">
        <p>Sible isn’t simply a map, or a tool that is designed specifically for disability. It brings all available information together in one place to help people with a variety of needs.</p>
      </div>

      <div class="columns columns-1-4">
        
        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto padding-s border-radius border">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-s color-white background-dark">
                  {% include icon/eye.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3 class="title title-xs">Visual</h3>
                <p class="max-width-25rem">Sible helps non-sighted people, people with low-vision, people with obstructed vision, or people with conditions including myopia, colour blindness, glaucoma and albinism.</p>
              </div>
            </section>

          </div>
        </div>
        
        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto padding-s border-radius border">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-s color-white background-dark">
                  {% include icon/volume.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3 class="title title-xs">Auditory</h3>
                <p class="max-width-25rem">Sible helps people with hearing impairments, including, for example, presbycusis, acoustic trauma, auditory processing disorder and otosclerosis.</p>
              </div>
            </section>

          </div>
        </div>
        
        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto padding-s border-radius border">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-s color-white background-dark">
                  {% include icon/wheelchair.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3 class="title title-xs">Motor</h3>
                <p class="max-width-25rem">Sible helps people with motor impairments, including, for example, RSI, cerebral palsy, Parkinson's and muscular dystrophy.</p>
              </div>
            </section>

          </div>
        </div>
        
        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto padding-s border-radius border">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-s color-white background-dark">
                  {% include icon/game.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3 class="title title-xs">Cognitive</h3>
                <p class="max-width-25rem">Sible helps people who have difficulty with processing information, including for example, Down’s Syndrome, autism, global developmental delay and dyslexia.</p>
              </div>
            </section>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>