---
layout: default
order: 10
title: Home
description: null
permalink: /
---

<!-- <section class="section">
  <div class="section-inner padding-vertical-xl background-dark color-white tile">
    <div class="container">
      <h1 class="title title-xl font-weight-medium">
        <span>Livable spaces.</span><br>
        <span>Acces<strong>sible</strong> places.</span>
      </h1>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="section-inner padding-vertical-xl background-white hero">
    <div class="container">
      <div class="max-width-s">
        <h2 class="title title-l">A <strong>platform</strong> that<br>puts <strong>people</strong> first.</h2>
        <hr class="divider">
        <p class="max-width-30rem">Sible empowers people to share and access detailed accessibility information. From elevation maps to ramp locations, hazard information to trip planners, Sible improves places by making them easier to navigate – for everyone.</p>
        <p class="margin-top-s">
          <a href="{{ site.baseurl }}/features" class="button button-dark">Features</a>
          <a href="{{ site.baseurl }}/register" class="button button-dark button-border">Register</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-inner padding-vertical-xl background-white">
    <div class="container">

      <div class="max-width-s margin-bottom-m">
        <h2 class="title title-l">Better <strong>access</strong><br>benefits <strong>everyone</strong>.</h2>
        <hr class="divider">
        <p class="max-width-30rem">1 in 5 Australians have some form of disability. That’s over 4 million people. For many, something as “simple” as crossing a street, going to the shops or finding a toilet can be incredibly challenging.</p>
        <p class="max-width-30rem">Sible helps people overcome ongoing obstacles and makes it easier to get around. Using crowd-sourced data, it connects people to all the information they need to help plan their day.</p>
        <p class="margin-top-s">
          <a href="{{ site.baseurl }}/about" class="button button-dark">About</a>
          <a href="{{ site.baseurl }}/register" class="button button-dark button-border">Register</a>
        </p>
      </div>

      <div class="columns columns-1-3">

        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-l color-white background-primary">
                  {% include svg/person.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3>
                  <span class="small-caps">Empowering</span><br>
                  <strong>People</strong>
                </h3>
                <p class="max-width-25rem">Sible will provide people with accessibility information for locations, businesses, services and amenities. This will cater diverse needs:</p>
                <ul class="icon-list">
                  <li>
                    <figure class="symbol symbol-s color-white background-primary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#eye-off"></use>
                      </svg>
                    </figure>
                    <span>Visual</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-primary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#volume-2"></use>
                      </svg>
                    </figure>
                    <span>Auditory</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-primary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#move"></use>
                      </svg>
                    </figure>
                    <span>Motor</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-primary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#user"></use>
                      </svg>
                    </figure>
                    <span>Cognitive</span>
                  </li>
                </ul>
              </div>
            </section>

          </div>
        </div>

        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-l color-white background-secondary">
                  {% include svg/marker.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3>
                  <span class="small-caps">Enhancing</span><br>
                  <strong>Places</strong>
                </h3>
                <p class="max-width-25rem">Sible will enable business to provide detailed accessibility information for their locations. This includes details about:</p>
                <ul class="icon-list">
                  <li>
                    <figure class="symbol symbol-s color-white background-secondary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#compass"></use>
                      </svg>
                    </figure>
                    <span>Parking &amp; Transport</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-secondary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#arrow-up-right"></use>
                      </svg>
                    </figure>
                    <span>Ramps &amp; Landings</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-secondary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#log-in"></use>
                      </svg>
                    </figure>
                    <span>Entrances &amp; Exits</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-secondary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#settings"></use>
                      </svg>
                    </figure>
                    <span>Services &amp; Amenities</span>
                  </li>
                </ul>
              </div>
            </section>

          </div>
        </div>

        <div class="column">
          <div class="column-inner">
            
            <section class="flex flex-column flex-auto">
              <header class="flex-none margin-bottom-xs">
                <figure class="symbol symbol-l color-white background-tertiary">
                  {% include svg/book.svg %}
                </figure>
              </header>
              <div class="flex-auto">
                <h3>
                  <span class="small-caps">Evolving</span><br>
                  <strong>Policy</strong>
                </h3>
                <p class="max-width-25rem">Sible will inform policy that better suits the requirements of people living with accessibility needs, and inform the way we design and plan our cities.</p>
                <ul class="icon-list">
                  <li>
                    <figure class="symbol symbol-s color-white background-tertiary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#clipboard"></use>
                      </svg>
                    </figure>
                    <span>City Planning</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-tertiary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#compass"></use>
                      </svg>
                    </figure>
                    <span>Transportation</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-tertiary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#share-2"></use>
                      </svg>
                    </figure>
                    <span>Support Services</span>
                  </li>
                  <li>
                    <figure class="symbol symbol-s color-white background-tertiary">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="{{ site.baseurl }}/assets/glyphs/glyphs.svg#map-pin"></use>
                      </svg>
                    </figure>
                    <span>Public Amenities</span>
                  </li>
                </ul>
              </div>
            </section>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% include section/register.html %}