<section class="section">
  <div class="section-inner padding-vertical-xl border-bottom">
    <div class="container">
      <h1 class="title title-xl max-width-xs">
        {% if page.heading %}
          <span class="font-family-monospace font-size-xl color-primary display-block">{{ page.title }}</span> 
          {{ page.heading }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
      <hr class="divider background-primary">
      {% if page.description %}
        <p class="lead max-width-30rem">{{ page.description }}</p>
      {% endif %}
    </div>
  </div>
</section>