<section class="section">
  <div class="section-inner padding-vertical-xl background-primary color-white">
    <div class="container">
      <div class="columns columns-1-2">
        <div class="column">
          <div class="column-inner justify-content-center">
            <div class="max-width-s">
              <h1 class="title title-xl max-width-s">
                {% if page.heading %}
                  <span class="font-family-monospace font-size-xl color-dark display-block">{{ page.title }}</span> 
                  {{ page.heading }}
                {% else %}
                  {{ page.title }}
                {% endif %}
              </h1>
              <hr class="divider background-dark">
              {% if page.lead %}
                <p class="lead max-width-30rem">{{ page.lead }}</p>
              {% endif %}
              {% if page.description %}
                <p class="max-width-30rem">{{ page.description }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column-inner">
            <section class="padding-s background-white color-dark border-radius shadow-m">
              <h2 class="margin-bottom-s">Register</h2>
              {% include form/register.html %}
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>