<section class="section">
  <div class="section-inner padding-vertical-m border-top border-color-light-100">
    <div class="container">
      <div class="flex align-items-center">
        <div class="flex-auto">
          <h2 class="font-size-l margin-vertical-1-4">Register your interest today</h2>
          <p class="margin-vertical-1-4">Subscribe to get the latest news sent to your email.</p>
        </div>
        <div class="flex-none">
          <p>
            <a class="button button-primary" href="{{ site.baseurl }}/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>