<section class="section">
  <div class="section-inner padding-vertical-l background-primary color-white">
    <div class="container">
      <div class="flex align-items-center">
        <div class="flex-auto gutter-right">
          <h2 class="title-xs font-weight-bold margin-vertical-1-4">Register your interest</h2>
          <p class="margin-vertical-1-4 font-weight-medium">Receive updates and news about Sible as it develops.</p>
        </div>
        <div class="flex-none">
          <p>
            <a class="button button-white button-border" href="{{ site.baseurl }}/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>